{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "UnifiCameraDashboard": "Debug"
    }
  },
  "AllowedHosts": "*",
  "ServerSettings": {
    "HttpPort": 5008,
    "HttpsPort": 5009
  },
  "EventIngestion": {
    "Enabled": true
  },
  "EventClassification": {
    "Enabled": true
  }
}
